# A/B Testing (Youtube vs Netflix)

## Import Library

In [23]:
from scipy import stats as st
import pandas as pd

## Show Example Data

In [24]:
df = pd.read_excel('YoutubeVSNetflix.xlsx', sheet_name='Form Responses 1')
df.head()

,คุณมีความสนใจในสิ่งเหล่านี้มากน้อยเพียงใด [ดู Youtube],คุณมีความสนใจในสิ่งเหล่านี้มากน้อยเพียงใด [ดู Netflix],คุณบริโภคสิ่งเหล่านี้บ่อยขนาดไหน [ดู Youtube],คุณบริโภคสิ่งเหล่านี้บ่อยขนาดไหน [ดู Netflix],เพศ
0,สนใจ,สนใจอย่างมากที่สุด,อาทิตย์ละครั้ง,อาทิตย์ละครั้ง,ชาย
1,สนใจอย่างมากที่สุด,สนใจอย่างมาก,แทบทุกวัน,เดือนละ 2-3 ครั้ง,หญิง
2,สนใจอย่างมากที่สุด,สนใจอย่างมากที่สุด,แทบทุกวัน,แทบทุกวัน,ชาย
3,สนใจอย่างมากที่สุด,สนใจอย่างมากที่สุด,อาทิตย์ละครั้ง,อาทิตย์ละครั้ง,ชาย
4,เฉยๆ,สนใจอย่างมากที่สุด,เดือนละ 2-3 ครั้ง,อาทิตย์ละครั้ง,หญิง

## Rename Columns

In [25]:
df.columns

Index(['คุณมีความสนใจในสิ่งเหล่านี้มากน้อยเพียงใด [ดู Youtube]',
       'คุณมีความสนใจในสิ่งเหล่านี้มากน้อยเพียงใด [ดู Netflix]',
       'คุณบริโภคสิ่งเหล่านี้บ่อยขนาดไหน [ดู Youtube]',
       'คุณบริโภคสิ่งเหล่านี้บ่อยขนาดไหน [ดู Netflix]', 'เพศ'],
      dtype='object')

In [26]:
df.columns = ['interested_youtube', 'interested_netflix', 'freq_youtube', 'freq_netflix', 'gender']
df.head()

,interested_youtube,interested_netflix,freq_youtube,freq_netflix,gender
0,สนใจ,สนใจอย่างมากที่สุด,อาทิตย์ละครั้ง,อาทิตย์ละครั้ง,ชาย
1,สนใจอย่างมากที่สุด,สนใจอย่างมาก,แทบทุกวัน,เดือนละ 2-3 ครั้ง,หญิง
2,สนใจอย่างมากที่สุด,สนใจอย่างมากที่สุด,แทบทุกวัน,แทบทุกวัน,ชาย
3,สนใจอย่างมากที่สุด,สนใจอย่างมากที่สุด,อาทิตย์ละครั้ง,อาทิตย์ละครั้ง,ชาย
4,เฉยๆ,สนใจอย่างมากที่สุด,เดือนละ 2-3 ครั้ง,อาทิตย์ละครั้ง,หญิง

## Replace text to numeric

- Compare Interested streaming platfor between YouTube and Netflix

In [27]:
df1 = df[['interested_youtube', 'interested_netflix']].replace(['ไม่สนใจอย่างมากที่สุด',
                                                          'ไม่สนใจอย่างมาก',
                                                          'ไม่สนใจ',
                                                          'เฉยๆ',
                                                          'สนใจ',
                                                          'สนใจอย่างมาก',
                                                          'สนใจอย่างมากที่สุด'],
                                                        [0, 1, 2, 3, 4, 5, 6])
df[['interested_youtube', 'interested_netflix']].head()

   interested_youtube  interested_netflix
0                สนใจ  สนใจอย่างมากที่สุด
1  สนใจอย่างมากที่สุด        สนใจอย่างมาก
2  สนใจอย่างมากที่สุด  สนใจอย่างมากที่สุด
3  สนใจอย่างมากที่สุด  สนใจอย่างมากที่สุด
4                เฉยๆ  สนใจอย่างมากที่สุด

## Summary common statistical values

In [28]:
df1[['interested_youtube', 'interested_netflix']].describe()

       interested_youtube  interested_netflix
count           63.000000           63.000000
mean             4.603175            4.698413
std              1.100435            1.041632
min              1.000000            2.000000
25%              4.000000            4.000000
50%              5.000000            5.000000
75%              5.500000            5.000000
max              6.000000            6.000000

## Compare with t-test two sample

- Ho : Interested Youtube = Netflix
- H1 : Testerestd Youtube < Netflix  

### Result : They are the same. (p-value >= 0.05)

In [29]:
a = df1['interested_youtube'].to_numpy()
b = df1['interested_netflix'].to_numpy()

st.ttest_ind(a=a, b=b, equal_var=True, alternative='less')

Ttest_indResult(statistic=-0.4988836780000391, pvalue=0.3093726035494394)

In [49]:
df2 = df[['freq_youtube', 'freq_netflix']].replace(['แทบทุกวัน',
                                                   'อาทิตย์ละครั้ง',
                                                   'เดือนละ 2-3 ครั้ง',
                                                   'เดือนละครั้ง',
                                                   'หลายเดือนครั้ง',
                                                   'แทบไม่ได้บริโภคเลย'],
                                                  [5, 4, 3, 2, 1, 0])
df2[['freq_youtube', 'freq_netflix']]

    freq_youtube  freq_netflix
0              4             4
1              5             3
2              5             5
3              4             4
4              3             4
..           ...           ...
58             5             0
59             5             3
60             5             4
61             3             4
62             5             4

[63 rows x 2 columns]

## Summary common statistical values

In [50]:
df2[['freq_youtube', 'freq_netflix']].describe()

       freq_youtube  freq_netflix
count     63.000000     63.000000
mean       4.492063      3.349206
std        0.820563      1.577654
min        2.000000      0.000000
25%        4.000000      3.000000
50%        5.000000      4.000000
75%        5.000000      4.500000
max        5.000000      5.000000

## Compare with t-test two sample

- Ho : Frequency to Watch Youtube = Netflix
- H1 : Frequency to Watch Youtube < Netflix  

### Result : They are the same. (p-value >= 0.05)

In [51]:
a2 = df2['freq_youtube'].to_numpy()
b2 = df2['freq_netflix'].to_numpy()

st.ttest_ind(a=a2, b=b2, equal_var=True, alternative='less')

Ttest_indResult(statistic=5.101051400309649, pvalue=0.9999993842794955)